html{
    text-align:center;
    font-size: 120%;
    background-color: rgb(251, 220, 255);
    color: rgb(0, 0, 0);
}

#canvas{
    outline:3px solid rgb(255, 107, 248);
    max-height: 70vh;
    max-width: 80vw;
    margin: 0;
}

#buttons{
    position:absolute;
    left:2vw;
    top:2vh;
}
#otherbuttons{
    position: absolute;
    left:2vw;
    top: 45vh;
}


div.canvas.buttons.start{
    text-align: center;
    position: absolute;
    left: 40vw;
    top: 30vh;
}

#progress{
    font-size: 120%;
}


.button {
    background-color: #fca6f5;
    border: none;
    box-shadow: 0 9px#fc7feb;
    padding: 28px;
    text-align: center;
    font-size: 34px;
    }
    
    .button:hover {
    background-color: #ffbcf4;
    }
    
    .button:active {
    box-shadow: 0 5px #fca6f5;
    transform: translateY(5px);
    }
    
    .red {
    color: #bb2582;
    }
    
    
    .round {
    border-radius: 50%;
    }
    
    @media only screen and (max-width: 600px) 
    {
        #buttons
        {
            top: 50%;
        }
        #otherbuttons
        {
            top: 50%;
            left: 50vw;
        }
        .button
        {
            padding: 20px;
            font-size: 24px;
        }
    }

div#modal{
    display: none;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(255, 143, 227); /* Fallback color */
    background-color: rgba(255, 89, 214, 0.4); /* Black w/ opacity */
}
